.containerProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    color: white;
    font-size: 1.2rem;
    gap: 1rem;
}

.containerProfile>img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    border: 4px solid #0097B2;
}

.title_Profile {
    color: #0097B2;
}

.text_Profile {
    color: #0097B2;
}

@media screen and (max-width:480px) {
    .containerProfile {
        height: 80vh;
    }
}