.feed-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.container_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.feed-menu {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.feed-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.explore-content{
  width: 100%;
}