.container_NewPost {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  min-width: 60%;
  max-width: 60%;
  margin: 2% auto;
  padding: 20px;
  border-radius: 2rem;
}

.container_NewPost h1,
h2 {
  color: #fc3d3d;
}

.container_title_posts {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container_NewPost form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.container_NewPost textarea {
  height: 100px;
  margin-bottom: 10px;
  padding: 8px;
  resize: none;
  font-size: large;
}

.container_InputImg  {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
  width: 28%;
  padding: 2%;
  background-color: #000000;
  border: 1.5px solid rgb(255, 255, 255);
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
  cursor: pointer;
  
}

.input_postImg {
  position: absolute;
 opacity: 0;
}

.container_InputImg:hover{
  border: 1.5px solid rgb(255, 0, 0);
}

.container_NewPost button {
  background-color: #ff0000;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.container_NewPost button:hover {
  background-color: #cc0000;
}

.image_post {
  height: 100vh;
}

.post_Text{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.container_posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 2%;
  padding: 2% 2%;
  gap: 8px;
}

.container_posts img {
  width: 100%;
  border-radius: 4%;
}

.container_user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 4%;
  padding: 2%;
  border-top: 1px solid rgb(102, 101, 101);
}

.container_user>img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media screen and (max-width:480px) {
  .container_NewPost {
    background-color: #000000;
    padding: 18px;
    min-width: 90vw;
  }

  .image_post {
    max-width: 80vw;
    max-height: 50vh;
  }

  .container_InputImg{
    width: 50%;
    height: 4vh;
    padding: 2%;
  }
}