.container_EntryNameUserSearch{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.name_UserSearch{
    background: none;
    border: none;
    border-bottom: 1px solid #ff0000;
    width: 80%;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    outline: none;
}

.container_EntryNameUserSearch button{
    font-size: 0.8rem;
    background-color: #000;
    border: 1px solid rgb(255, 255, 255);
    color: #ff0000;
    height:auto;
    padding: 10px;
}

.container_EntryNameUserSearch button:active{
    border: 1px solid #ff0000;
}

@media screen and (max-width: 480px){
    .container_EntryNameUserSearch{
        width: 60%;
    }
    
    .name_UserSearch{
        border: 1px solid red;
        padding: 1%;
        width: 80%;
        height: 4vh;
    }
}