.feed-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 1px;
    gap: 5%;
    border-bottom: 2px solid #c02121;
    padding: 0.5rem;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    gap: 2%;
    padding: 10px;
  }
  
  .user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .text_name-user {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
  }
  
  .logout-button {
    text-decoration: none;
    color: #ff9898;
    border: none;
    padding: 2px 10px;
    cursor: pointer;
    padding-top: 5px;
  }
  
  .logout-button:hover {
    color: #ff4500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 5px;
  }
  
  .container_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .feed-menu {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
  }
  
  .icons_menu {
    background-color: #000000;
    color: #ffffff;
    padding: 4px;
    width: 2vw;
    height: 2vh;
    cursor: pointer;
  }
  
  .active-tab {
    color: #c02121;
    border: 2px solid #c02121;
    background-color: #000000;
  }
  
  .feed-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  @media screen and (max-width: 480px) {
    .header {
      width: 50vw;
    }
  
    .text_name-user {
      font-size: 0.7rem;
    }
  
    .icons_menu {
      width: 4vw;
      height: 2vh;
      cursor: pointer;
    }
  
    .user-photo {
      width: 30px;
      height: 30px;
    }
  
    .logout-button {
      font-size: 0.9rem;
    }
  }